	.link{
			background-color:#102039;
			height:55px;
			font-size:30px;
		}
		.nav{  
			float:right;
			font-family:monospace;
			padding:3px;
			padding-right:20px;
			color:white;
			text-decoration:none;
			padding-top:10px;	
		}
		.headings{
			font-size:50px;
			font-weight:bold;
			font-family:monospace;
			float:left;
			color:white;
			margin-top:1px;
			padding-left:30px;
		}
		h1{
			font-family:monospace;
			font-size:30px;
			position:absolute;
			margin-left:50px;
			margin-top:20px;
		}
		img{
			padding-top:60px;
			width:700px;
			height:500px;
		}
		.content{
			font-weight:bold;
			font-family:monospace;
			font-size:21px;
			padding-top:50px;
			padding-left:100px;
			padding-right:150px;
		}
		.deep{
			font-style:italic;
			font-size:21px;
			padding-top:10px;
			padding-left:100px;
			padding-right:150px;
		}
		figcaption{
			position:absolute;
			margin-left:510px;
			font-size:20px;
		}
		.list{
			margin-top:100px;
			margin-left:50px;
		}
		 ol{
		 	display:inline-block;
		 	float:left;
		 	margin-left:100px;
		 	font-size:18px;
		 	font-family:monospace;
		}
		.cont{
			font-weight:bold;
			font-family:monospace;
			font-size:21px;
			padding-top:5px;
			padding-left:100px;
			padding-right:150px;
		}
		table{
			margin-left:100px;
			font-size:18px;
			font-family:monospace;
			text-align:center;
		}
		.tab{
		  font-family:monospace;
		  font-size:21px;
		  font-weight:bold;
		  margin-top:400px;
		  padding-left:100px;
		}
		a{
			text-decoration:none;
		}
		button{
			font-family:monospace;
			font-weight:bold;
			font-size:18px;
			width:180px;
			height:40px;
			margin-left:600px;
		}
		th{
			background-color:green;
		}
		iframe{
			margin-top:80px;
			margin-right:25px;
			float:right;
			width:300px;
			height:250px;
		}